{% extends "/admin/layout.html.twig" %}
{% set adminMenu = true %}
{% block title %}{{ title }}{% endblock %}
{% block content %}



        <h2 class="text-center">{{ title }}</h2>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="well">
            {{ form_start(resultForm, { 'attr': {'class': 'form-horizontal'} }) }}
            <div class="form-group">
                {{ form_label(resultForm.minute, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
                }}) }}
                <div class="col-sm-2">
                    {{ form_errors(resultForm.minute) }}
                    {{ form_widget(resultForm.minute, { 'attr':  {
                    'class': 'form-control'
                    }}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(resultForm.seconde, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
                }}) }}
                <div class="col-sm-2">
                    {{ form_errors(resultForm.seconde) }}
                    {{ form_widget(resultForm.seconde, { 'attr':  {
                    'class': 'form-control',
                    'rows': '8'
                    }}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(resultForm.milliseconde, null, { 'label_attr':  {
                'class': 'col-sm-4 control-label'
                }}) }}
                <div class="col-sm-2">
                    {{ form_errors(resultForm.milliseconde) }}
                    {{ form_widget(resultForm.milliseconde, { 'attr':  {
                    'class': 'form-control',
                    'rows': '8'
                    }}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-3">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <a class="btn btn-default" href="{{ path('round', {'id': round.id}) }}">Retour</a>
                </div>
            </div>
            {{ form_end(resultForm) }}
        </div>
{% endblock %}