<!DOCTYPE html>
<html class="no-js">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >

    <title>Raulnet - {% block title %}{% endblock %}</title>

{% block stylessheets %}

    <link rel="stylesheet" href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css" />
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/sonic.css" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />

{% endblock %}
</head>
<body data-spy="scroll" data-target="#my-nav">

{% block content %}

{% endblock %}

{% block javascript %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ app.request.basepath }}/js/html5shiv.js"></script>
    <script src="{{ app.request.basepath }}/js/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- jQuery -->
    <script src="{{ app.request.basepath }}/lib/jquery/jquery-1.11.2.min.js"></script>
    <!-- JavaScript Boostrap plugin -->
    <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ app.request.basepath }}/js/modernizr.custom.47152.js"></script>
    <script src="{{ app.request.basepath }}/js/modernizr-ie.js"></script>
    <script src="{{ app.request.basepath }}/js/jquery.easing.1.3.min.js"></script>
    <script src="{{ app.request.basepath }}/js/waypoints.min.js"></script>
    <script src="{{ app.request.basepath }}/js/jquery.textrotator.min.js"></script>
    <script src="{{ app.request.basepath }}/js/jquery.simple-text-rotator.min.js"></script>
    <script src="{{ app.request.basepath }}/js/grid.js"></script>
    <script src="{{ app.request.basepath }}/js/jquery.nicescroll.min.js"></script>
    <script src="{{ app.request.basepath }}/js/slick.min.js"></script>
    <script src="{{ app.request.basepath }}/js/scripts.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60988384-1', 'auto');
        ga('send', 'pageview');
    </script>
{% endblock %}

</body>
</html>