{% extends "/TheGrid/layout.html.twig" %}
{% set game = 'index' %}

{% block content %}
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('the_grid_championships') }}">{{ 'championships'|trans }}</a></li>
            <li class="active">players<li>
        </ol>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Players ({{ players|length }})
    {% if is_granted('ROLE_ORGANIZER') %}<a class="pull-right" href="{{ path('the_grid_add_player') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> add</a>{% endif %}
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Player</th>
    {% if is_granted('ROLE_ORGANIZER') %}<th>Email</th>{% endif %}
                        <th>Support</th>
                        <th></th>
    {% if is_granted('ROLE_ORGANIZER') %}<th class="action">Action</th>{% endif %}
                    </tr>
                </thead>
                {% for player in players %}
                    <tr>
                        <td>{{ player.nickname }}</td>
                    {% if is_granted('ROLE_ORGANIZER') %}<td>{{ player.mail }}</td>{% endif %}
                        <td>{{ player.support }}</td>
                        <td></td>
                    {% if is_granted('ROLE_ORGANIZER') %}<td class="action"><a href="{{ path('the_grid_edit_player', {'id': player.id}) }}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></td>{% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
   </div>
{% endblock %}